.tags {
    display: flex;
    gap: 5px;
    border-radius: 3px;
}

.tags h4 {
    font-size: 10px;
    font-weight: 500;
    /* background-color: rgb(220, 220, 220); */
    color: black;
    padding: 4px 8px;
}