/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.page {
  padding: 50px;
}

.parent {
  /* height: 100%; */
  /* min-height: 100vh; */
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #fff; */
  flex-wrap: wrap;
  gap: 30px;
}