.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-button {
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #61dafb;
  border: 1px ridge transparent;
  border-radius: 5px;
  color: #282c34;
  transition: background-color 0.3s ease;
}

.App-button:hover {
  background-color: #282c34;
  border-color: #61dafb;
  color: #61dafb;
  /* box-shadow: 0 2px 2px 1px #61dafb20; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #20232a;
  /* min-height: 50vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.UserInfo {
  margin: 10px 0;
  border: 1px solid #61dafb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.UserInfo-Details {
  margin-left: 20px;
  text-align: left;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}