@font-face {
  font-family: 'Blackgoth';
  src: url('./assets/fonts/BlackgothRegular-xRg40.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Blackgoth', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
}